{% extends 'base.html' %}

{% block content %}

<h2>{{campaign.title}}</h2>

<h3>Logs</h3>
<ul>
    {% for log in logs %}
    <li>
        <a href="{% url 'log-instance' log.id %}">{{log.title}}</a>
    </li>
    {% endfor %}
</ul>

<h3>Characters</h3>
<ul>
    {% for character in characters %}
    <li>
        <a href="{% url 'character-instance' character.id %}">{{character.name}}</a>
    </li>
    {% endfor %}
</ul>

<h3>Locations</h3>
<ul>
    {% for location in locations %}
    <li>
        <a href="{% url 'location-instance' location.id %}">{{location.name}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
