{% extends 'base.html' %}

{% block content %}

<h2>{{campaign.title}}</h2>

<h3>Logs</h3>
<ul>
    {% for log in logs %}
    <li>
        <a href="{% url 'log-edit' pk=log.id %}">{{log.title}}</a>
    </li>
    {% endfor %}
</ul>

<ul class="nav nav-pills nav-inverse">
    <li class="active"><a href="{% url 'log-new' %}">Create new log</a></li>
</ul>
</br>














<h4>Create Log:</h4>
<form action="{% url 'log-list' %}" method="post">
    <input type="hidden" value="{% url 'campaign-instance' campaign.id %}" name="campaign" />
    Title: <input type="text" name="title" required /><br>
    <input type="submit" value="Create Log" />
</form>

<h3>Characters</h3>
<ul>
    {% for character in characters %}
    <li>
        <a href="{% url 'character-instance' character.id %}">{{character.name}}</a>
    </li>
    {% endfor %}
</ul>

<h4>Create Location:</h4>
<form action="{% url 'location-list' %}" method="post">
    <input type="hidden" value="{% url 'campaign-instance' campaign.id %}" name="campaign" />
    Name: <input type="text" name="name" required /><br>
    Type: <input type="text" name="locationType" /><br>
    <input type="submit" value="Create Location" />
</form>

<h3>Locations</h3>
<ul>
    {% for location in locations %}
    <li>
        <a href="{% url 'location-instance' location.id %}">{{location.name}}</a>
    </li>
    {% endfor %}
</ul>

<h4>Create Character:</h4>
<form action="{% url 'character-list' %}" method="post">
    <input type="hidden" value="{% url 'campaign-instance' campaign.id %}" name="campaign" />
    Name: <input type="text" name="name" required /><br>
    <input type="submit" value="Create Location" />
</form>

{% endblock %}
