{% extends 'base.html' %}

{% block content %}

<h2><a href="{% url 'api-campaign-list' %}" title="View all campaigns">Campaigns</a></h2>

<!-- List all the individual campaigns by name -->
<ul>
    {% for campaign in object_list %}
        <li>
            <!-- this URL is built automaticaly -->
            <a href="{% url 'campaign' campaign.id %}">{{campaign.title}}</a>
        </li>
    {% endfor %}
</ul>

<!-- Create new campaign -->
<ul class="nav nav-pills nav-inverse">
    <li class="active"><a href="{% url 'campaign-new' %}">Create new campaign</a></li>
</ul>

{% endblock %}
