{% load url from future %}

<h2><a href="{% url 'campaign-list' %}" title="View all campaigns">Campaigns</a></h2>

<form action="{% url 'campaign-list' %}" method="post">
    <input type="text" name="title" />
    <input type="submit" value="Create Campaign" />
</form>

<ul>
    {% for campaign in campaigns %}
        <li>
            <!-- this URL is built automaticaly -->
            <a href="{% url 'campaign-instance' campaign.id %}">{{campaign.title}}</a>
        </li>
    {% endfor %}
</ul>

</br>

<h2><a href="{% url 'log-list' %}" title="View all logs">Logs</a></h2>
<ul>
    {% for log in logs %}
        <li>
            <a href="{% url 'log-instance' log.id %}">{{log.title}}</a>
        </li>
    {% endfor %}
</ul>

</br>

<h2><a href="{% url 'location-list' %}" title="View all locations">Locations</a></h2>
<ul>
    {% for location in locations %}
        <li>
            <a href="{% url 'location-instance' location.id %}">{{location.name}}</a>
        </li>
    {% endfor %}
</ul>

</br>

<h2><a href="{% url 'character-list' %}" title="View all characters">Characters</a></h2>
<ul>
    {% for character in characters %}
        <li>
            <a href="{% url 'character-instance' character.id %}">{{character.title}}</a>
        </li>
    {% endfor %}
</ul>
